<!DOCTYPE html>
<html>

<head>
  <title>Confirmaci칩n de registro</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="margin: 0; padding: 0; font-family: Arial, sans-serif; background-color: #f5f5f5;">
  <center>
    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color: #f5f5f5;">
      <tr>
        <td align="center" valign="top" style="padding: 20px;">
          <!-- Contenedor principal -->
          <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 700px;">
            <tr>
              <td style="padding: 20px; background-color: white; border-radius: 10px;">
                <!-- Logo -->
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tr>
                    <td style="padding: 15px; background-color: #002b5a; border-radius: 5px;">
                      <a href="https://benitojuarez.gov.ar/">
                        <img src="https://res.cloudinary.com/dnzpobyip/image/upload/v1739280883/logo_muni_2024.png"
                          alt="logo_municipalidad" width="150" style="display: block; max-width: 150px; height: auto;">
                      </a>
                    </td>
                  </tr>
                </table>

                <!-- T칤tulo -->
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tr>
                    <td style="padding: 20px 0; text-align: center;">
                      <div style="font-size: 24px; font-weight: bold; color: #333;">
                        Municipalidad de Benito Juarez
                      </div>
                    </td>
                  </tr>
                </table>

                <!-- Mensaje 1 -->
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tr>
                    <td style="padding: 0 0 20px 0; font-size: 16px; color: #555; line-height: 1.5;">
                      Hola <strong style="color: #002b5a;">{{nombreTitular}}</strong>, te has inscripto correctamente al
                      programa 'Mi H치bitat, Mi Hogar'.
                    </td>
                  </tr>
                </table>

                <!-- N칰mero de registro -->
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tr>
                    <td style="padding: 15px; background-color: #e7f3fe; border-radius: 5px; text-align: center;">
                      <div style="font-size: 16px; color: #555; margin-bottom: 10px;">
                        El n칰mero de registro asignado para el sorteo es el:
                      </div>
                      <div style="font-size: 48px; color: #007bff; font-weight: bold;">
                        {{numero_registro}}
                      </div>
                    </td>
                  </tr>
                </table>

                <!-- Mensaje 3 -->
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tr>
                    <td style="padding: 20px 0; font-size: 16px; color: #555; line-height: 1.5; font-style: normal;">
                      Con este n칰mero est치s habilitado para participar por el concurso de venta de lotes municipales.
                    </td>
                  </tr>
                </table>

                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tr>
                    <td style="padding: 20px 0; font-size: 16px; color: #555; line-height: 1.5; font-style: italic;">
                      Este es un mensaje autom치tico, por favor no responder a esta direcci칩n de correo.
                    </td>
                  </tr>
                </table>
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tr>
                    <td
                      style="padding: 20px 0; font-size: 16px; color: #555; line-height: 1.5; font-style: italic; text-align: center;">
                      Si ten칠s alguna duda o consulta, por favor comunicate con nosotros.
                    </td>
                  </tr>
                </table>
                <!-- Contacto -->
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tr>
                    <td
                      style="padding: 15px; background-color: #002b5a; color: white; border-radius: 5px; text-align: center;">
                      <div style="margin-bottom: 8px;">
                        游 2281 57-3109
                      </div>
                      <div>
                        游늸 Moreno 69, Benito Ju치rez<br>
                      </div>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </center>
</body>

</html>