.container_general_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 92px;
    /* Altura de la barra */
    padding-left: 3rem;
    /* Espaciado interno */
    padding-right: 3rem;
    /* Espaciado interno */
    box-sizing: border-box;
    /* Incluye el padding en el ancho y alto */
    background-color: #002b5a;
    color: #ffffff;
}

/* Logo */
.logo img {
    height: 60px;
    padding-left: 40px;
}

/* Título */
.container_h2_nav {
    flex: 1;
    text-align: center;
}

.container_h2_nav h2 {
    font-size: 20px;
    font-weight: bold;
}

/* Redes sociales */
.container_redes {
    display: flex;
    gap: 15px;
    font-size: 20px;
    padding-right: 40px;
    padding-left: 40px;
    border-left: rgba(224, 224, 224, 0.5) solid 1px;
    /* 50% de transparencia */
    border-right: rgba(224, 224, 224, 0.5) solid 1px;
    /* 50% de transparencia */
}

/* Fecha */
.container_fecha {
    font-size: 16px;
    padding-left: 100px;
    padding-right: 40px;
}

@media screen and (min-width: 1025px) {
    .numero_texto {
        display: none;
        /* Oculta el enlace en pantallas grandes */
    }
}

@media (max-width: 1024px) {
    .container_general_nav {
        height: 60px;
        /* Altura fija */
        padding: 5px 10px;
    }

    .logo img {
        height: 50px;
        /* Reduzco el logo */
    }

    .container_h2_nav h2 {
        font-size: 20px;
        /* Texto más pequeño pero visible */
    }

    .container_redes {
        display: none;
    }

    .container_fecha {
        display: none;
    }

    .numero_texto {
        font-size: 16px;
        padding-left: 50px;
        padding-right: 40px;
    }

}

/* Para pantallas menores a 768px */
@media (max-width: 768px) {
    .container_general_nav {
        height: 80px;
        /* Altura fija */
        padding: 5px 10px;
    }

    .logo img {
        height: 45px;
        /* Reduzco el logo */
    }

    .container_h2_nav h2 {
        font-size: 18px;
        /* Texto más pequeño pero visible */
    }

    .container_redes {
        font-size: 18px;
        /* Iconos más chicos */
        gap: 10px;
        padding: 0 20px;
    }

    .container_fecha {
        font-size: 14px;
        padding: 0 20px;
    }
}

/* Para pantallas menores a 480px (muy pequeñas) */
@media (max-width: 480px) {
    .container_general_nav {
        height: 80px;
        /* Mantengo la altura */
        padding: 5px;
    }

    .logo img {
        height: 40px;
    }

    .container_h2_nav h2 {
        font-size: 16px;
    }

    .container_redes {
        font-size: 16px;
        gap: 8px;
        padding: 0 10px;
    }

    .container_fecha {
        font-size: 12px;
    }
}